<link href="~/Semantic-UI-CSS-master/semantic.min.css" rel="stylesheet" />
<script src="~/Semantic-UI-CSS-master/semantic.min.js"></script>

<script>
    $('.ui.menu .item').removeClass('active')
    $('.ui.menu .item.about').addClass('active')
</script>

<h2>關於</h2>

