<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/button.css">

<script>
    $('.ui.menu .item').removeClass('active')
    $('.ui.menu .item.index').addClass('active')

    $(function () {
        $('.ui.rating').rating()
    })
</script>
<style>

    .slider {
      overflow: hidden;
	  width: 100%;
      height: auto;
      top: 0;
      position: absolute;
      z-index:0 !important;
    }


    .slider figure div {
      width: 20%;
      float: left;
    }

    .slider figure img {
      width: 100%;
	    height: 600px;
      float: left;
    }

    .slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      /*animation: 30s slidy infinite;*/
    }

    @@keyframes slidy {
      0%{
        left: 0%;
      }

      10%{
        left: 0%;
      }

      12%{
        left: -100%;
      }

      22%{
        left: -100%;
      }

      24%{
        left: -200%;
      }

      34%{
        left: -200%;
      }

      36%{
        left: -300%;
      }

      46%{
        left: -300%;
      }

      48%{
        left: -400%;
      }

      58%{
        left: -400%;
      }

      60%{
        left: -300%;
      }

      70%{
        left: -300%;
      }

      72%{
        left: -200%;
      }

      82%{
        left: -200%;
      }

      84%{
        left: -100%;
      }

      94%{
        left: -100%;
      }

      96%{
        left: 0%;
      }

    }

    .slide {
      display:none;
    }
    .w3-left, .w3-right, .w3-badge {
      cursor:pointer;
    }
    .w3-badge {
      height: 15px;
      width: 15px;
      padding: 0;
    }

    .center{
      width: 100%;
      height: 200px;
      margin-top: 530px;
    }

    #left {
        width: 31%;
        height: 200px;
        position: absolute;
        left: 0;
        overflow: hidden;
        opacity: 0.7;
        background-image: url(/Image/homebuilding.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    #middle {
        width: 31%;
        height: 200px;
        position: absolute;
        margin-left: 34.5%;
        overflow: hidden;
        opacity: 0.7;
        background-image: url(/Image/homefood.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }

    #right {
        width: 31%;
        height: 200px;
        position: absolute;
        right: 0;
        overflow: hidden;
        opacity: 0.7;
        background-image: url(/Image/homeshop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #introbutton {
      margin-top: 65px;
      background: rgba(0,0,0,0.4);
      width: 100%;
      height: 70px;
      position: absolute;
      text-align: center;
    }

    #introbutton span{
      line-height:70px;
      font-size: 30pt;
      color: white;
    }

    .sentence{
      width: 100%;
      height: 100px;
      margin-top: 45px;
      color: rgba(0,0,0,0.7);
    }

    .sentence h3{
      font-family: cursive;
      text-align: center;
    }

    .sentence h4{
      font-family: cursive;
      text-align: right;
      margin-right: 25%;
    }

    .intro{
      width: 100%;
      height: 450px;
      overflow: hidden;

    }

    /*
    planningintro
    */

    #planning{
      width: 100%;
      height: 90%;
      background-image: url(../Image/planning.jpg);
      background-size: cover;
      background-position: 0% 30%;
      margin: 22px auto 0 auto;
      display: block;
    }

    .planningintro{
      width: 40%;
      height: 100%;
      float: left;
      background-color: rgba(255,255,255,0.7);
    }

    .planningintro h1, p{
      text-align: center;
    }

    /*
    sceneryintro
    */

    #scenery{
      width: 100%;
      height: 90%;
      background-image: url(../Image/s6.jpg);
      background-size: cover;
      background-position: 0% 30%;
      margin: 22px auto 0 auto;
      display: block;
    }

    .sceneryintro{
      width: 40%;
      height: 100%;
      float: right;
      background-color: rgba(255,255,255,0.7);
    }

    .sceneryintro h1, p{
      text-align: center;
    }

    /*
    foodintro
    */

    #food{
      width: 100%;
      height: 90%;
      background-image: url(../Image/f14.jpg);
      background-size: cover;
      background-position: 0% 30%;
      margin: 22px auto 0 auto;
      display: block;
    }

    .foodintro{
      width: 40%;
      height: 100%;
      float: left;
      background-color: rgba(255,255,255,0.7);
    }

    .foodintro h1, p{
      text-align: center;
    }

    /*
    shoppingintro
    */
    #shopping{
      width: 100%;
      height: 90%;
      background-image: url(../Image/sh1.jpg);
      background-size: cover;
      background-position: 0% 40%;
      margin: 22px auto 0 auto;
      display: block;
    }

    .shoppingintro{
      width: 40%;
      height: 100%;
      float: right;
      background-color: rgba(255,255,255,0.7);
    }

    .shoppingintro h1, p{
      text-align: center;
    }

    .space {
      width: 100%;
      height: 50px;
    }

    .footerBackground{
      overflow: hidden;
      width: 100%;
      height: 600px;
      background-image: url(../Image/background.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: 100% 70%;
      background-repeat: no-repeat;
    }

    .footer{
      margin-top: 30px;
      width: 100%;
      height: 40%;
      background: rgba(0,0,0,0.3);
    }

    .ui.button{
        opacity:0.8;
        width:30%;
        margin-left:35%;
        font-family:'Microsoft JhengHei';
    }


</style>

<div class="slider">
    <figure>
        <div class="slide">
            <img src="~/Image/slide4.jpg">
        </div>

        <div class="slide">
            <img src="~/Image/slide2.jpg">
        </div>

        <div class="slide">
            <img src="~/Image/slide3.jpg">
        </div>

        <div class="slide">
            <img src="~/Image/slide1.jpg">
        </div>

        <div class="slide">
            <img src="~/Image/slide5.jpg">
        </div>
    </figure>
    <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
    </div>
</div>



<div class="center">
    <div id="left">
        <div id="introbutton">
            <span>景點</span>
        </div>
    </div>
    

    <div id="middle">
        <div id="introbutton">
            <span>美食</span>
        </div>
    </div>

    <div id="right">
        <div id="introbutton">
            <span>購物</span>
        </div>
    </div>
</div>

<div class="sentence">
    <h3>" The world is a book and those who do not travel read only one page. "</h3>
        <h4>St. Augustine</h4>
</div>

<div class="intro">
    <div id="planning">
        <div class="planningintro">
            <h1 style="margin:17% 0 30px 0">行程計劃</h1>
            <hr>
            <p>為你提供台灣多個景點介紹<br>輕鬆計劃行程<br>享受當地的文化<br>尋找屬於自己的旅遊</p>
            <a href="RestaurantIntro" class="ui green button" role="button">了解更多</a>
                @*<a href="#"><button class="ui blue button" style="opacity:0.8;width:30%;margin-left:35%;">了解更多</button></a>*@
            <hr>
        </div>
    </div>
</div>

<div class="intro">
    <div id="scenery">
        <div class="sceneryintro">
            <h1 style="margin:17% 0 30px 0">景點介紹</h1>
            <hr>
            <p>為你提供台灣多個景點介紹<br>輕鬆計劃行程<br>享受當地的文化<br>尋找屬於自己的旅遊</p>
            <a class="ui blue button" role="button">了解更多</a>
            @*<a href="#"><button class="ui blue button" style="opacity:0.8;width:30%;margin-left:35%;">了解更多</button></a>*@
                <hr>
        </div>
    </div>
</div>

<div class="intro">
    <div id="food">
        <div class="foodintro">
            <h1 style="margin:20% 0 30px 0">美食介紹</h1>
            <hr>
            <p>為你提供台灣多個景點介紹<br>輕鬆計劃行程<br>享受當地的文化<br>尋找屬於自己的旅遊</p>
            <a class="ui green button" role="button">了解更多</a>
            @*<a href="#"><button class="ui blue button" style="opacity:0.8;width:30%;margin-left:35%;">了解更多</button></a>*@
                <hr>
        </div>
    </div>
</div>


<div class="intro">
    <div id="shopping">
        <div class="shoppingintro">
            <h1 style="margin:17% 0 30px 0">購物介紹</h1>
            <hr>
            <p>為你提供台灣多個景點介紹<br>輕鬆計劃行程<br>享受當地的文化<br>尋找屬於自己的旅遊</p>
            <a class="ui blue button" role="button">了解更多</a>
            @*<a href="#"><button class="ui blue button" style="opacity:0.8;width:30%;margin-left:35%;">了解更多</button></a>*@
                <hr>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="footerBackground">
    <div class="footer"></div>
</div>


<script>
      var slideIndex = 1;

       showDivs(slideIndex);

      function currentDiv(n) {
        showDivs(slideIndex = n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("slide");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
           dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " w3-white";
      }



</script>



@*<div class="ui segments">
    <div class="ui inverted segment">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="hover-effect">
                    <img src="~/Image/逢甲夜市.jpg"/>
                    <div class="img-message">
                        <span>熱門程度</span>
                        <div class="ui huge star rating" data-rating="4" data-max-rating="5"></div>
                    </div>
                </div>
            </div>

            <div class="eight wide column">
                <div class="detail">
                    <div class="title" style="background-color:#DB2828">介紹</div>
                    <p>逢甲夜市的範圍包括逢甲大學方圓一公里之內，是台中最具人氣的商圈之一，包括逢甲文華夜市、西屯路、逢甲路、福星路都屬商圈的一部分，熱鬧非凡，常是年輕學子的逛街場所。商圈內販賣種類繁多，應有盡有，食衣住行育樂全都包含，令人目不暇給，眾多選擇的小吃聞名遐邇，營業時間大約從下午四點至凌晨二點，對喜愛shoppin逛街、吃吃喝喝的民眾來說這裡真的是五星級的好地方唷！</p>
                    <div class="title" style="background-color:#21BA45">地點</div>
                    <p>逢甲路自逢甲大學至西屯路，福星路自河南路至西安街，逢甲路自逢甲大學至青海路之區域</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted segment">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="detail">
                    <div class="title" style="background-color:#DB2828">介紹</div>
                    <p>
                        台中市的大型滯洪池公園，是一座下凹型的綠地景觀公園，內設有人工湖，具滯洪、排水、調節空氣的多重功能，搭配巧妙而精湛的設計風格，現已成為台中市著名新興地標。
                        設計師將英國地景大師LancelotBrowns的精神做為設計概念，特別融入曲折的河湖、丘陵意象，搭配自然的枕木步道及特殊的建築景觀。白天，民眾由上而下可綜覽整座秋紅谷的綠地景觀，夜晚燈火通明之際，更顯都會浪漫美感。
                    </p>
                    <div class="title" style="background-color:#21BA45">地點</div>
                    <p>台中市西屯區朝富路　 (台灣大道與西屯區河南路交界)</p>
                </div>
            </div>
            <div class="eight wide column">
                <div class="hover-effect">
                    <img src="~/Image/秋虹谷.jpg"/>
                    <div class="img-message">
                        <span>熱門程度</span>
                        <div class="ui huge star rating" data-rating="3" data-max-rating="5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

