<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script>
    $('.ui.menu .item').removeClass('active')
    $('.ui.menu .item.personalinfo').addClass('active')
</script>

<style>
    #person-info{
        position:absolute;
        width:300px;
        top:100px;
        bottom:0;
    }    

    .card {
        background-color:#1B1C1D;
        width:100%;
        height:100%;
        text-align: center;
        overflow: hidden;
    } 

    .card.hovercard .cardheader {
        background: url("http://lorempixel.com/850/280/nature/4/");
        background-size: cover;
        height: 135px;
    }

    .card.hovercard .avatar {
        position: relative;
        top: -50px;
        margin-bottom: -50px;
    }

    .card.hovercard .avatar img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgb(27, 28, 29);
    }
</style>

<div id="person-info">
    <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
    </div>
</div>




