<style>
    .footerBackground{
        overflow: hidden;
        width: 100%;
        height: 800px;
        background-image: url(../Image/background.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>


<div class="footerBackground">
</div>